<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes da Habilidade</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<header class="main-header">
    <div class="header-top">
        <a th:href="@{/mvc/habilidade}" class="home-button">🔙</a>
        <h1>Detalhes da Habilidade</h1>
    </div>
</header>

<main>
    <section class="detail-section">
        <div class="detail-group">
            <label>ID:</label>
            <span th:text="${habilidade.id}">ID</span>
        </div>
        <div class="detail-group">
            <label>Nome:</label>
            <span th:text="${habilidade.nome}">Nome</span>
        </div>
        <div class="detail-group">
            <label>Prioridade:</label>
            <span th:text="${habilidade.prioridade}">Prioridade</span>
        </div>
        <div class="detail-group">
            <label>Grupo de Habilidade:</label>
            <span th:text="${habilidade.grupoHabilidadeId}">Grupo</span>
        </div>
    </section>
</main>
</body>
</html>
