<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nova Habilidade</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<header class="main-header">
    <div class="header-top">
        <a th:href="@{/mvc/habilidade}" class="home-button">🔙</a>
        <h1 th:text="${id} != null ? 'Editar Habilidade' : 'Nova Habilidade'"></h1>
    </div>
</header>

<main>
    <form th:action="${id} != null ? @{/mvc/habilidade/edit/{id}(id=${id})} : @{/mvc/habilidade}" th:object="${habilidade}" method="post">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" required>
        </div>

        <div class="form-group">
            <label for="prioridade">Prioridade:</label>
            <input type="number" id="prioridade" th:field="*{prioridade}" required>
        </div>

        <div class="form-group" th:if="${id == null}">
            <label for="grupoHabilidadeId">Grupo de Habilidade:</label>
            <select id="grupoHabilidadeId" th:field="*{grupoHabilidadeId}" required>
                <option value="" disabled>Selecione</option>
                <option th:each="grupo : ${grupos}"
                        th:value="${grupo.id}"
                        th:text="${grupo.nome}">
                </option>
            </select>
        </div>


        <button type="submit">Salvar</button>
    </form>
</main>
</body>
</html>
