<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Habilidades</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<main>
    <div class="list-container">
        <h2>Lista de Habilidades</h2>
        <a th:href="@{/mvc/habilidade/form}" class="add-button">+ Nova Habilidade</a>

        <table class="styled-table">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Prioridade</th>
                <th>Grupo Habilidade</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hab : ${habilidades}">
                <td th:text="${hab.nome}"></td>
                <td th:text="${hab.prioridade}"></td>
                <td th:text="${hab.grupoHabilidadeNome}"></td>
                <td>
                    <a th:href="@{/mvc/habilidade/edit/{id}(id=${hab.id})}" class="action">✏️ Editar</a>
                    <a th:href="@{/mvc/habilidade/delete/{id}(id=${hab.id})}" class="action danger" onclick="return confirm('Deseja realmente deletar este grupo?')">🗑️ Deletar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
