<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - Apo.IA</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<main>
    <div class="list-container">
        <a th:href="@{/mvc/doenca/form}" class="add-button">+ Nova Doença</a>

        <table class="styled-table">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Gravidade</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="doenca : ${doencas}">
                <td th:text="${doenca.nome}"></td>
                <td th:text="${doenca.gravidade}"></td>
                <td>
                    <a th:href="@{'/mvc/doenca/' + ${doenca.id}}" class="action">🔍 Ver</a>
                    <a th:href="@{'/mvc/doenca/edit/' + ${doenca.id}}" class="action">✏️ Editar</a>
                    <a th:href="@{'/mvc/doenca/delete/' + ${doenca.id}}" class="action danger" onclick="return confirm('Deseja realmente excluir?')">🗑️ Excluir</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>