<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes do Usuário</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<header class="main-header">
    <div class="header-top">
        <a th:href="@{/mvc/usuario}" class="home-button">🔙</a>
        <h1>Detalhes do Usuário</h1>
    </div>
</header>

<main>
    <section class="detail-section">
        <div class="detail-group">
            <label>ID:</label>
            <span th:text="${usuario.id}">ID</span>
        </div>
        <div class="detail-group">
            <label>Nome:</label>
            <span th:text="${usuario.nome}">Nome</span>
        </div>
        <div class="detail-group">
            <label>Email:</label>
            <span th:text="${usuario.email}">Email</span>
        </div>
    </section>
</main>
</body>
</html>
