<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${id} != null ? 'Editar Usuário' : 'Cadastrar Usuário'">Cadastrar Usuário</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<header class="main-header">
    <div class="header-top header-content">
        <a th:href="@{/mvc/usuario}" class="add-button">🔙 Voltar</a>
        <h1 th:text="${id} != null ? 'Editar Usuário' : 'Cadastrar Usuário'">Cadastrar Usuário</h1>
    </div>
</header>

<main>
    <form th:action="${id} != null ? @{/mvc/usuario/edit/{id}(id=${id})} : @{/mvc/usuario}" th:object="${usuario}" method="post">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" th:field="*{nome}" id="nome" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" th:field="*{email}" id="email" required>
        </div>

        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" th:field="*{senha}" id="senha" required>
        </div>

        <button type="submit" class="add-button" style="margin-top: 1rem;">Salvar</button>
    </form>
</main>

</body>
</html>
