<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastrar Local</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<header class="main-header">
    <div class="header-top">
        <a th:href="@{/mvc/local}" class="home-button">🔙</a>
        <h1>Cadastrar Novo Local</h1>
    </div>
</header>

<main>
    <form th:action="${id} != null ? @{/mvc/local/edit/{id}(id=${id})} : @{/mvc/local}" th:object="${local}" method="post">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" th:field="*{nome}" id="nome" required>
        </div>

        <div>
            <label for="endereco">Endereço:</label>
            <input type="text" th:field="*{endereco}" id="endereco" required>
        </div>

        <div>
            <label for="capacidade">Capacidade:</label>
            <input type="number" th:field="*{capacidade}" id="capacidade" required>
        </div>

        <div>
            <label for="qtd_abrigados">Quantidade de Abrigados:</label>
            <input type="number" th:field="*{qtd_abrigados}" id="qtd_abrigados" required>
        </div>

        <button type="submit">Salvar</button>
    </form>

</main>
</body>
</html>
